<section>

  <div class="contact-form col-md-8 col-sm-8">
  <div id="c-heading"><h4>WishList</h4></div>
    <form action="" class="form-area-1">
      {{#if khaadis}}
      <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1">
          <ul class="list-group">
            {{#each khaadis}}
            <li class="list-group-item">
              <strong>{{this.item.name}}</strong>
              <span class="label label-success">{{this.item.sale_price}}</span>

                <a href="/remove/{{this.item._id}}" class="btn btn-danger btn-xs btn-remove" role="button">Remove item</a>

                <a href="{{this.item.link}}" class="btn btn-primary btn-xs btn-check" role="button" target="_blank">Checkout item</a>

                <!-- <button type="button" name="button" class="btn btn-primary btn-xs btn-check">Checkout item</button> -->
            </li>
            {{/each}}
          </ul>

        </div>
      </div>
      <a href="/clear-list/" class="btn btn-primary btn-clear" role="button">Clear List</a>
      {{else}}
      <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">

          <h2>No items in WishList</h2>

        </div>
      </div>
      {{/if}}




    </form>
  </div>
</section>
