<section>

  <div class="contact-form-1 col-md-10 col-sm-8">

    <form action="" class="">

      <div id="img_carousel" class="item active">

        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class=" category_header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
      						<span class="sr-only">Toggle navigation</span>
      						<span class="icon-bar"></span>

      						<span class="icon-bar"></span>
      						<span class="icon-bar"></span>
      					</button>
          </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" style="
    margin-left: 24px;">
        <ul class="nav navbar-nav  category ">
          <li><h4>Categories: </h4></li>
          <li><a href="/khaas" class="btn btn-category" role="button">All</a></li>
          <li><a href="/khaas/shirt" class="btn btn-category" role="button">Shirt</a></li>
          <li><a href="/khaas/pant" class="btn btn-category" role="button">Pant</a></li>
          <li><a href="/khaas/dress" class="btn btn-category" role="button">Dress</a></li>
          <li><a href="/khaas/bedsheet" class="btn btn-category" role="button">Bed Sheet</a></li>
        </ul>

        </div>
        <hr>


        {{#each khaass}}

        {{#customif expected = 'shirt' val=category}}
          <div id="" class="image-container img_div">
            <a href="{{../this.link}}" target="_blank"><img class="d-block img-fluid" src="{{../this.image}}" alt="image">
          <div class="sale"><img src="../Images/sale-img.png" alt="image">

            <h2>{{../this.sale}}</h2>

          </div>
          <div class="after">
            <div class="after_internal">
              <h2>Details</h2>
              <p>Name: {{../this.name}}</p>
              <p>Sale Price: {{../this.sale_price}}</p>
              <p>Original Price: {{../this.original_price}}</p>
            </div>
          </div>
        </a>

        {{#if ../../login}}
        <!-- <button type="button" name="button" class="btn btn-wishlist btn-primary">Add to WishList</button> -->
        <a href="/add-to-list-aa/{{this._id}}" class="btn btn-wishlist btn-primary" role="button">Add to WishList</a>
        {{/if}}
      </div>
      
      {{/customif}}
      
      
      {{/each}}


      </div>


    </form>
  </div>
</section>
