
<!-- khaadi start here -->
<section class="col-md-12 col-sm-12">
	<section>

		<div id="div-styling" class="post">
			<div id="Brand_headings">
				<div id="b-heading">
					<h4>Khaadi</h4></div>
				<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/khaadi.png" alt="logo">
			</a></div>


			</div>

			<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false" ;>
				<div id="car_inner" class="carousel-inner" role="listbox">

					<div class="see-more">
						<div id="img_div" class="image-container">
							<a href="/khaadi">
								<div class="d-block img-fluid">

								</div>
								<!-- <div class="after"> -->

									<div class="set">

										<h2>Click Here to</h2>
										<h2>see more!!!</h2>

									<!-- </div> -->
								</div>
							</a>
						</div>
					</div>

					<div id="img_carousel" class="item active">



						{{# each khaadis}}
							<div id="img_div" class="image-container">
								<a href="{{this.link}}" target="_blank"><img class="d-block img-fluid" src="{{this.image}}" alt="image">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
					<!-- <div class="wishlist">





					</div> -->
							{{/each}}



					</div>


				</div>
			</div>

	</section>

	<!-- Amir_adnan starts here -->
	<section>

		<div id="div-styling">
			<div id="Brand_headings">
				<div id="b-heading">
					<h4>Amir Adnan</h4></div>
				<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/Amir Adnan.png" alt="logo">
			</a></div>


			</div>

			<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false" ;>
				<div id="car_inner" class="carousel-inner" role="listbox">

					<div class="see-more">
						<div id="img_div" class="image-container">
							<a href="/amiradnan">
								<div class="d-block img-fluid">
								</div>

									<div class="set">
										<h2>Click Here to</h2>
										<h2>see more!!!</h2>


								</div>
							</a>
						</div>
					</div>

					<div id="img_carousel" class="item active">



						{{# each aas}}
							<div id="img_div" class="image-container">
								<a href="{{this.link}}" target="_blank"><img class="d-block img-fluid" src="{{this.image}}" alt="image">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
							{{/each}}



					</div>


				</div>
			</div>

	</section>

	<!-- Generation starts here -->

	<section>

		<div id="div-styling">
			<div id="Brand_headings">
				<div id="b-heading">
					<h4>Generation</h4></div>
				<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/generation.png" alt="logo">
			</a></div>


			</div>

			<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false" ;>
				<div id="car_inner" class="carousel-inner" role="listbox">

					<div class="see-more">
						<div id="img_div" class="image-container">
							<a href="/generation">
								<div class="d-block img-fluid">
								</div>

									<div class="set">
										<h2>Click Here to</h2>
										<h2>see more!!!</h2>


								</div>
							</a>
						</div>
					</div>

					<div id="img_carousel" class="item active">



						{{# each generations}}
							<div id="img_div" class="image-container">
								<a href="{{this.link}}" target="_blank"><img class="d-block img-fluid" src="{{this.image}}" alt="image">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
							{{/each}}



					</div>


				</div>
			</div>

	</section>
<!--
	<section>

		<div id="div-styling">
			<div id="Brand_headings">
				<div id="b-heading">
					<h4>Amir Adnan</h4></div>
				<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/Amir Adnan.png" alt="logo">
			</a></div>


			</div>

			<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false" ;>
				<div id="car_inner" class="carousel-inner" role="listbox">

					<div class="see-more">
						<div id="img_div" class="image-container">
							<a href="#">
								<div class="d-block img-fluid">
								</div>

									<div class="set">
										<h2>Click Here to</h2>
										<h2>see more!!!</h2>


								</div>
							</a>
						</div>
					</div>

					<div id="img_carousel" class="item active">



						{{# each aas}}
							<div id="img_div" class="image-container">
								<a href="{{this.link}}" target="_blank"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
							{{/each}}



					</div>


				</div>
			</div>

	</section>

	<section>

		<div id="div-styling">
			<div id="Brand_headings">
				<div id="b-heading">
					<h4>Amir Adnan</h4></div>
				<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/Amir Adnan.png" alt="logo">
			</a></div>


			</div>

			<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false" ;>
				<div id="car_inner" class="carousel-inner" role="listbox">

					<div class="see-more">
						<div id="img_div" class="image-container">
							<a href="#">
								<div class="d-block img-fluid">
								</div>
								<div class="set">

										<h2>Click Here to</h2>
										<h2>see more!!!</h2>


								</div>
							</a>
						</div>
					</div>

					<div id="img_carousel" class="item active">



						{{# each aas}}
							<div id="img_div" class="image-container">
								<a href="{{this.link}}" target="_blank"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
							{{/each}}



					</div>


				</div>
			</div>

	</section>

</section> -->
