<!-- //sale price formula ((original_price - sale_price) / original_price) * 100 -->

<!-- {{# each khaadis}}
<div id="img_div" class="image-container">
  <a href="#"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
  <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
  </div>
  <div class="after">
    <div class="after_internal">
      <h2>Details</h2>
      <p>Name: {{this.name}}</p>
      <p>Sale Price: {{this.sale_price}}</p>
      <p>Original Price: {{this.original_price}}</p>
    </div>
  </div>
</a></div>
{{/each}} -->

<section>

	<div id="div-styling" class="post">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Khaadi</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/khaadi.png" alt="logo">
			</a></div>


		</div>

		<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >

        <div class="see-more">
          <div id="img_div" class="image-container">
            <a href="/khaadi"><div class="d-block img-fluid">
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>See more</h2>

              </div>
            </div>
          </a></div>
        </div>

				<div id="img_carousel" class="item active"  >



          {{# each khaadis}}
          <div id="img_div" class="image-container">
            <a href="{{this.link}}"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
          {{/each}}



				</div>


<!-- <a id="control_c" class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
{{# each khaadis}}
<a id="control_c" class="right carousel-control" href="#my-pics" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
{{/each}} -->
</div>
</div>

</section>


<section>

	<div id="div-styling">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Amir Adnan</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/Amir Adnan.png" alt="logo">
			</a></div>


		</div>

		<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >

        <div class="see-more">
          <div id="img_div" class="image-container">
            <a href="#"><div class="d-block img-fluid">
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>See more</h2>

              </div>
            </div>
          </a></div>
        </div>

				<div id="img_carousel" class="item active"  >



          {{# each aas}}
          <div id="img_div" class="image-container">
            <a href="{{this.link}}"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
          {{/each}}



				</div>


<!-- <a id="control_c" class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
{{# each khaadis}}
<a id="control_c" class="right carousel-control" href="#my-pics" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
{{/each}} -->
</div>
</div>

</section>


<section>

	<div id="div-styling">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Khaadi</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/khaadi.png" alt="logo">
			</a></div>


		</div>

		<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >

        <div class="see-more">
          <div id="img_div" class="image-container">
            <a href="#"><div class="d-block img-fluid">
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>See more</h2>

              </div>
            </div>
          </a></div>
        </div>

				<div id="img_carousel" class="item active"  >



          {{# each khaadis}}
          <div id="img_div" class="image-container">
            <a href="#"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
          {{/each}}



				</div>


<!-- <a id="control_c" class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
{{# each khaadis}}
<a id="control_c" class="right carousel-control" href="#my-pics" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
{{/each}} -->
</div>
</div>

</section>



<section>

	<div id="div-styling">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Khaadi</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/khaadi.png" alt="logo">
			</a></div>


		</div>

		<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >

        <div class="see-more">
          <div id="img_div" class="image-container">
            <a href="#"><div class="d-block img-fluid">
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>See more</h2>

              </div>
            </div>
          </a></div>
        </div>

				<div id="img_carousel" class="item active"  >



          {{# each khaadis}}
          <div id="img_div" class="image-container">
            <a href="#"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
          {{/each}}



				</div>


<!-- <a id="control_c" class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
{{# each khaadis}}
<a id="control_c" class="right carousel-control" href="#my-pics" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
{{/each}} -->
</div>
</div>

</section>


<section>

	<div id="div-styling">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Khaadi</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/khaadi.png" alt="logo">
			</a></div>


		</div>

		<div id="my-pics" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >

        <div class="see-more">
          <div id="img_div" class="image-container">
            <a href="#"><div class="d-block img-fluid">
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>See more</h2>

              </div>
            </div>
          </a></div>
        </div>

				<div id="img_carousel" class="item active"  >



          {{# each khaadis}}
          <div id="img_div" class="image-container">
            <a href="#"><img class="d-block img-fluid" src="{{this.image}}" alt="carousel images">
            <div class="sale"><img src="Images/sale-img.png" alt="image"><h2>{{this.sale}}</h2>
            </div>
            <div class="after">
              <div class="after_internal">
                <h2>Details</h2>
                <p>Name: {{this.name}}</p>
                <p>Sale Price: {{this.sale_price}}</p>
                <p>Original Price: {{this.original_price}}</p>
              </div>
            </div>
          </a></div>
          {{/each}}



				</div>


<!-- <a id="control_c" class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
{{# each khaadis}}
<a id="control_c" class="right carousel-control" href="#my-pics" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
{{/each}} -->
</div>
</div>

</section>





<!-- <section>

	<div id="div-styling">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Junaid Jamsheed</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/jdot.png" alt="logo">
			</a></div>
		</div>
		<div id="my-pics2" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >
				<div id="img_carousel" class="item active"  >

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot1.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot2.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div" class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot3.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</div>
					</a><div id="img_div" class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot4.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot5.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot6.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

				</div>

				<div id="img_carousel" class="item"  >

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot7.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot8.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot9.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot10.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>

						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot11.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</div>
					</a><div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/jdot/jdot12.jpg" alt="carousel images">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</div>
				</div>

			</div>
<a id="control_c" class="left carousel-control" href="#my-pics2" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a id="control_c" class="right carousel-control" href="#my-pics2" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
</div>
</div>

</section>


<section>

	<div id="div-styling">
		<div id="Brand_headings">
		<div id="b-heading"><h4>Generation</h4></div>
		<div id="b-logo"><a href="#"><img class="brand-logo" src="Images/Brand-logo/generation.png" alt="logo">
			</a></div>


		</div>
		<div id="my-pics3" class="carousel slide" data-ride="carousel" data-interval="false";>
			<div id="car_inner" class="carousel-inner" role="listbox" >
				<div id="img_carousel" class="item active"  >

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen1.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen2.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div" class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen3.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</div>
					</a><div id="img_div" class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen4.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen5.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen6.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

				</div>

				<div id="img_carousel" class="item"  >

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen7.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen8.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>

					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen9.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen10.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</a></div>
					<div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen11.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</div>
					</a><div id="img_div"  class="image-container">
						<a href="#"><img class="d-block img-fluid" src="Images/generation/gen12.webp" alt="">
						<div class="sale"><img src="Images/sale-img.png" alt="image"><h2>35%</h2>
						</div>
							<div class="after"></div>
					</div>
				</div>

			</div>
<a id="control_c" class="left carousel-control" href="#my-pics3" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a id="control_c" class="right carousel-control" href="#my-pics3" role="button" data-slide="next">
	<span class="icon-next" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
</div>
</div>

</section> -->
